*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: azure;
}
h1{
    text-align: center;
}
.container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 50px;
}
.card{
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.card h2{
    font-weight: 700;
}
.card p{
    padding-top: 5px;
    font-size: 20px;
}

.card button{
    margin-top: 10px;
    padding: 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}
